.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
}
.container {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
}
@media (min-width : 768px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
        margin-top: 5rem;
    }
    .notfound {
        width: 33%;
        margin-left: 7rem;
    }
}
.notfound {
    text-align: center;
    margin-top: 2rem;
    padding: 4rem;
    background: linear-gradient(135deg, rgba(255,255,255,.1), rgba()255,255,255,0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);
}